# Cache and logs
/var/cache/*
/var/logs/*
!var/cache/.gitkeep
!var/logs/.gitkeep

# Managed by Composer
/bin/*
!bin/console
!bin/symfony_requirements
/vendor/

# PHPUnit
/app/phpunit.xml
/phpunit.xml

# Composer PHAR
/composer.phar
